<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>→</string>
		<key>shortcut</key>
		<string>-&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≔</string>
		<key>shortcut</key>
		<string>:=</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌥</string>
		<key>shortcut</key>
		<string>:alt:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌘</string>
		<key>shortcut</key>
		<string>:cmd:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌃</string>
		<key>shortcut</key>
		<string>:ctrl:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>é</string>
		<key>shortcut</key>
		<string>:e</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⇧</string>
		<key>shortcut</key>
		<string>:shift:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>---</string>
		<key>shortcut</key>
		<string>.-</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>…</string>
		<key>shortcut</key>
		<string>...</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↑</string>
		<key>shortcut</key>
		<string>^|</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>←</string>
		<key>shortcut</key>
		<string>&lt;-</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⮂</string>
		<key>shortcut</key>
		<string>&lt;--&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↔</string>
		<key>shortcut</key>
		<string>&lt;-&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⇔</string>
		<key>shortcut</key>
		<string>&lt;=&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>◇</string>
		<key>shortcut</key>
		<string>&lt;&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↓</string>
		<key>shortcut</key>
		<string>v|</string>
	</dict>
</array>
</plist>
