layout {
  default_tab_template {
    pane size=2 borderless=true {
      plugin location="file:$HOME/.config/zellij/plugins/zjstatus.wasm" {
        hide_frame_for_single_pane "false"

        // format_left   "{mode} {tabs}"
        // format_right  "#[fg=#0066ff]#[bg=#0066ff,fg=#606060,bold] #[bg=#606060,fg=#d0d0d0,bold] {session}#[fg=#606060,bold]◗ {datetime}"

        // format_left   "#[fg=#3300ff]#[bg=#3300ff,fg=#000000,bold] #[bg=#3300ff,fg=#000000,bold] {session}#[fg=#3300ff,bold]◗ {tabs}"
        format_left   "#[fg=#000000]#[bg=#000000,fg=#0066ff,bold] #[bg=#000000,fg=#0066ff,bold] {session}#[fg=#000000,bold]◗ {tabs}"
        format_right  "{mode} {datetime}"

        // format_space  ""

        // palette
        // format_left  "#[bg=#000000]00;#[bg=#404040]01;#[bg=#606060]02;#[bg=#808080]03;#[bg=#c0c0c0]04;#[bg=#d0d0d0]05;#[bg=#e0e0e0]06;#[bg=#ffffff]07;#[bg=#ff0000]08;#[bg=#ff9900]09;#[bg=#ff0099]0A;#[bg=#33ff00]0B;#[bg=#00ffff]0C;#[bg=#0066ff]0D;#[bg=#cc00ff]0E;#[bg=#3300ff]0F; {tabs}"

        mode_normal        "#[fg=#33ff00]#[bg=#33ff00,fg=#000000,bold]{name}#[fg=#33ff00]◗"
        mode_locked        "#[fg=#c0c0c0]#[bg=#c0c0c0,fg=#000000,bold]{name}#[fg=#c0c0c0]◗"
        mode_resize        "#[fg=#ff0000]#[bg=#ff0000,fg=#000000,bold]{name}#[fg=#ff0000]◗"
        mode_pane          "#[fg=#0066ff]#[bg=#0066ff,fg=#000000,bold]{name}#[fg=#0066ff]◗"
        mode_tab           "#[fg=#ffffff]#[bg=#ffffff,fg=#000000,bold]{name}#[fg=#ffffff]◗"
        mode_scroll        "#[fg=#ff0099]#[bg=#ff0099,fg=#000000,bold]{name}#[fg=#ff0099]◗"
        mode_enter_search  "#[fg=#0066ff]#[bg=#0066ff,fg=#000000,bold]{name}#[fg=#0066ff]◗"
        mode_search        "#[fg=#0066ff]#[bg=#0066ff,fg=#000000,bold]{name}#[fg=#0066ff]◗"
        mode_rename_tab    "#[fg=#ffffff]#[bg=#ffffff,fg=#000000,bold]{name}#[fg=#ffffff]◗"
        mode_rename_pane   "#[fg=#0066ff]#[bg=#0066ff,fg=#000000,bold]{name}#[fg=#0066ff]◗"
        mode_session       "#[fg=#cc00ff]#[bg=#cc00ff,fg=#000000,bold]{name}#[fg=#cc00ff]◗"
        mode_move          "#[fg=#3300ff]#[bg=#3300ff,fg=#000000,bold]{name}#[fg=#3300ff]◗"
        mode_prompt        "#[fg=#0066ff]#[bg=#0066ff,fg=#000000,bold]{name}#[fg=#0066ff]◗"
        mode_tmux          "#[fg=#ff9900]#[bg=#ff9900,fg=#000000,bold]{name}#[fg=#ff9900]◗"
        mode_default_to_mode "tmux" // if not listed above, which color to use

        // formatting for inactive tabs
        tab_normal              "#[fg=#000000]#[bg=#000000,fg=#808080,bold]{index} #[bg=#000000,fg=#404040,bold] {name}{floating_indicator}#[fg=#000000,bold]◗"
        tab_normal_fullscreen   "#[fg=#000000]#[bg=#000000,fg=#808080,bold]{index} #[bg=#000000,fg=#404040,bold] {name}{fullscreen_indicator}#[fg=#000000,bold]◗"
        tab_normal_sync         "#[fg=#000000]#[bg=#000000,fg=#808080,bold]{index} #[bg=#000000,fg=#404040,bold] {name}{sync_indicator}#[fg=#000000,bold]◗"

        // formatting for the current active tab
        tab_active              "#[fg=#33ff00]#[bg=#33ff00,fg=#000000,bold]{index} #[bg=#000000,fg=#33ff00,bold] {name}{floating_indicator}#[fg=#000000,bold]◗"
        tab_active_fullscreen   "#[fg=#33ff00]#[bg=#33ff00,fg=#000000,bold]{index} #[bg=#000000,fg=#33ff00,bold] {name}{fullscreen_indicator}#[fg=#000000,bold]◗"
        tab_active_sync         "#[fg=#33ff00]#[bg=#33ff00,fg=#000000,bold]{index} #[bg=#000000,fg=#33ff00,bold] {name}{sync_indicator}#[fg=#000000,bold]◗"

        // separator between the tabs
        tab_separator           " "

        // indicators
        tab_sync_indicator       " "
        tab_fullscreen_indicator " 󰊓"
        tab_floating_indicator   " 󰹙"

        command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
        command_git_branch_format      "#[fg=blue] {stdout} "
        command_git_branch_interval    "10"
        command_git_branch_rendermode  "static"

        datetime          "#[fg=#6C7086,bold] {format} "
        datetime_format   "%H:%M"
        datetime_timezone "America/Los_Angeles"
      }
    }
    children
  }
}
