:root {
  --highlight-primary: #c10076;
  --highlight-primary-text: #333;
}

::-moz-selection {
  color: var(--highlight-primary-text) !important;
  background: var(--highlight-primary) !important;
}

::selection {
  color: var(--highlight-primary-text) !important;
  background: var(--highlight-primary) !important;
}
